table {
  width: 100%;
  background-color: #585757;
}

th.mat-sort-header-sorted {
  color: black;
}

.topmenu {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #d3d3d3;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 99vw;
  button{
    margin: 5px;
      }
  .heading{
    margin-left: 20px;
  }
}

