<div class="topmenu">
  <button mat-raised-button (click)="refresh()">Refresh</button>
  <button mat-raised-button (click)="importImage()">Import</button>
  <button mat-raised-button (click)="ExportAll()">Import</button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Tag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
    <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Repository">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Repository </th>
    <td mat-cell *matCellDef="let element"> {{element.repo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> version </th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteImage(element.tag)">Delete</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="Export">
    <th mat-header-cell *matHeaderCellDef> Export </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="exportImage(element)">Export</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
